body {
	color: #FFFFFF;
}

.AboutMeContent {
	text-align: justify;
}

.ProfilePhotoImage img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	border: 5px solid #6096B4;
}

.AccordionSubtitle {
	padding: 1%;
	border: 5px solid #6096B4;
	border-radius: 50px;
}